<a href="https://colab.research.google.com/github/hongchaeyeon/colab/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6장 예제

In [ ]:
for i in range(3) :
  print("안산공고 컴퓨터과 최고")
  print("하이")

안산공고 컴퓨터과 최고
하이
안산공고 컴퓨터과 최고
하이
안산공고 컴퓨터과 최고
하이

In [ ]:
myList = ['가위',1, 29,'안산','공고']
temp = input("입력 : ")
if temp in myList :
  print(temp,"리스트 목록에 있습니다.")

입력 : 안산
안산 리스트 목록에 있습니다.

형성 평가 학생 줄 세우기

In [ ]:
a = 1
for i in range(1,6,1) :
  a = a*i
print("A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 : ", a)

A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 :  120

In [ ]:
hap = 0
for i in range(1, 11,1) :
  hap = hap + i
print("1부터 10까지의 합 :", hap)

1부터 10까지의 합 : 55

In [ ]:
i, hap = 0,0
for i in range(1001, 2001, 2) :
  hap += i 

print('1000에서 2000까지의 홀수의 합 :', hap)

1000에서 2000까지의 홀수의 합 : 750000

In [ ]:
for i in range(3) :
  for k in range(2) :
    print("난생처음은 쉽습니다. ^^(i값:", i,',k값:',k,")')")

난생처음은 쉽습니다. ^^(i값: 0 ,k값: 0 )')
난생처음은 쉽습니다. ^^(i값: 0 ,k값: 1 )')
난생처음은 쉽습니다. ^^(i값: 1 ,k값: 0 )')
난생처음은 쉽습니다. ^^(i값: 1 ,k값: 1 )')
난생처음은 쉽습니다. ^^(i값: 2 ,k값: 0 )')
난생처음은 쉽습니다. ^^(i값: 2 ,k값: 1 )')

In [ ]:
for i in range(2,10,1) :
  for k in range(1,10,1) :
    a = i * k
    print(i,'X',k,'=', a)

In [ ]:
for i in range(0,3,1):
  print(i, ": 난생처음 파이썬은 재미있습니다. ^^")

In [5]:
i = 0
while (i < 3) :
  print(i,"난생처음 파이썬은 재밌습니다. ^^")
  i = i+1

0 난생처음 파이썬은 재밌습니다. ^^
1 난생처음 파이썬은 재밌습니다. ^^
2 난생처음 파이썬은 재밌습니다. ^^

In [7]:
hap = 0
num1, num2 = 0,0

while True :
  num1 = int(input("숫자 1 ==>"))
  if num1 == 0 :
    break 
  num2 = int(input("숫자 2 ==>"))

  hap = num1 + num2
  print(num1, "+", num2, "=", hap)

숫자 1 ==>0

주사위 3개 돌리기

In [ ]:
import random
count = 0
while True :
  r1 = random.randint(1,6)
  r2 = random.randint(1,6)
  r3 = random.randint(1,6)
  count = count + 1
  if r1 == r2 == r3 :
    break
print("3개의 주사위는 모두",r1,"입니다.")
print("같은 숫자가 나오기까지", count, "번 던졌습니다.")

In [ ]:
import random
my, com = 0,0
for i in range(1,11) :
    com=random.randint(1,5)
    print("게임" ,i, '회:', end='')
    my = int(input('컴퓨터가 생각한 숫자는?'))

    if my==com :
        print("맞혔네요. 축하합니다!!")
        break
    else :
        print('틀렸네요',i,'(이)였습니다.')
        continue
print("게임을 마칩니다.")
5

게임 1 회: