<a href="https://colab.research.google.com/github/hongchaeyeon/colab/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6장 예제

In [ ]:
for i in range(3) :
  print("안산공고 컴퓨터과 최고")
  print("하이")

안산공고 컴퓨터과 최고
하이
안산공고 컴퓨터과 최고
하이
안산공고 컴퓨터과 최고
하이

In [ ]:
myList = ['가위',1, 29,'안산','공고']
temp = input("입력 : ")
if temp in myList :
  print(temp,"리스트 목록에 있습니다.")

입력 : 안산
안산 리스트 목록에 있습니다.

형성 평가 학생 줄 세우기

In [ ]:
a = 1
for i in range(1,6,1) :
  a = a*i
print("A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 : ", a)

A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 :  120

In [ ]:
hap = 0
for i in range(1, 11,1) :
  hap = hap + i
print("1부터 10까지의 합 :", hap)

1부터 10까지의 합 : 55

In [ ]:
i, hap = 0,0
for i in range(1001, 2001, 2) :
  hap += i 

print('1000에서 2000까지의 홀수의 합 :', hap)

1000에서 2000까지의 홀수의 합 : 750000

In [ ]:
for i in range(3) :
  for k in range(2) :
    print("난생처음은 쉽습니다. ^^(i값:", i,',k값:',k,")')")

난생처음은 쉽습니다. ^^(i값: 0 ,k값: 0 )')
난생처음은 쉽습니다. ^^(i값: 0 ,k값: 1 )')
난생처음은 쉽습니다. ^^(i값: 1 ,k값: 0 )')
난생처음은 쉽습니다. ^^(i값: 1 ,k값: 1 )')
난생처음은 쉽습니다. ^^(i값: 2 ,k값: 0 )')
난생처음은 쉽습니다. ^^(i값: 2 ,k값: 1 )')

In [4]:
for i in range(2,10,1) :
  for k in range(1,10,1) :
    a = i * k
    print(i,'X',k,'=', a)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81